.box-height {
  height: 150px;
}
.spring-value-box {
  height: 50px;
  background-color: var(--blue);
}
.spring-box {
  background-color: var(--green);
}

.springs-box {
  margin-bottom: 10px;
  height: 50px;
  background-color: var(--yellow);
}
.trail-box {
  margin-bottom: 10px;
  height: 50px;
  background-color: var(--red);
}
.smell-box {
  width: 500px;
  background-color: var(--blue);
  color: #fff;
}
