.no-wrap {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.bg-full {
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: contain;
}

.content_title {
  height: 30px;
  line-height: 30px;
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}
.App h1 {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 10px;
}
.App h2 {
  font-size: 18px;
  font-weight: 500;
  color: #845ec2;
  margin-bottom: 10px;
}

.comment_part {
  padding: 5px 0;
  color: #2c86a2;
  line-height: 20px;
}
.comment_desc {
  color: #999;
  font-size: 14px;
}

.common_block {
  border-bottom: 2px solid #00c9a7;
  margin-bottom: 15px;
  padding-bottom: 10px;
}

.p24 {
  padding: 24px;
}

.m24 {
  margin: 24px;
}

body button {
  line-height: 1;
}
